<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key ="caminho_json" value="C:\GitHub\Stone Tech\alunos.json"/>
		<add key ="conexao_sql" value="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=Escola;Data Source=DESKTOP-PSQK4A5"/>
	</appSettings>
</configuration>